html body {
    margin: 0
}

#container {
    margin: 10px auto;
    outline: blue 1px solid;
    box-sizing: border-box;
    position: relative;
}

#canvas {
    margin: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

#kudzu {
    position: absolute;
    width: 40%;
    top: 5%;
    right: 5%;
    z-index: 2;
    border: 3px solid;
    background-color: white;
}

.kudzu-transition {
    transition: all 1s;
}

#kudzu.repositioned {
    position: absolute;
    width: 10%;
    top: 7%;
    right: 80%;
}

#kudzu-title-text {
    position: absolute;
    left: 25%;
    top: 10%;
}

#kudzu-story-text {
    position: absolute;
    left: 15%;
    top: 25%;
    width: 70%;
    height: 65%;
}

.kudzu-story-section {
    margin: 20px 0;
}

.kudzu-story-paragraph {
    margin: 0;
}

.kudzu-text {
    color: goldenrod;
}

#kudzu img {
    width: 100%;;
}

.title-section {
    overflow: hidden;
    text-align: center;
}

.no-height {
    height: 0;
}

.read {
    font-style: italic;
    font-size: large;
}

.title {
    font-weight: bold;
    font-size: larger;
}